:root {
  --main-color: #831843;
  --second-color: #FFC39C;
  --box-shadow: 0 0 5px rgb(33, 3, 3);
  --border-color: 1px solid #c3c3c361;
  --dark: #1f2022;
  --light: rgb(30, 194, 194);
  --white: rgba(255, 255, 255, 0.925);
  --border-radius: 10px;
  --inputs-background: #121212;
  --boxes-color: #252024 !important;
  --nav-background: #1f2022;
  --team-box-color: #151d20;
}

* {
  text-decoration: none;
  font-family: Roboto;
  /* overflow-x: hidden; */
}

body {
  position: relative;
  background: linear-gradient(to right,var(--second-color), var(--main-color));
  overflow-x: hidden;
}

.navbar-dark {
  background: var(--nav-background) !important;
}

.home {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 71px);
  position: relative;
}

.home .text-light {
  z-index: 2;
}

.home video {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 9999999999; */
}

.home.container {
  z-index: 100000000;
}

.logo {
  background: var(--background-color);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home h1 {
  font-size: 3.4rem;
}

.home_text {
  color: var(--main-color);
}

.home .para {
  font-size: 1.2rem;
  line-height: 2;
  color: var(--white);
}

.home-btn {
  color: var(--white);
  background-color: var(--second-color);
}

section {
  border-bottom: var(--border-color);
}

.contact img,
.work img {
  border-radius: 20px 120px 20px 120px;
}

.main-header-section {
  border-left: 5px solid var(--main-color);
  padding-left: 10px;
  font-size: larger;
}

.information h4 {
  text-transform: uppercase;
}

.upload {
  margin: 0 auto;
  width: 500px;
}

.right #student-document {
  width: 500px;
  min-height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px #00fbfb;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow
  background-color: var(--boxes-color);
}

input,
#hashed-file {
  margin: 10px 0px;
  back-ground: var(--inputs-background);
  border: 1px solid var(--main-color);
  outline: none;
  text-transform: capitalize;
  padding: 15px 15px;
  border-radius: 10px;
  width: 100%;
  color: var(--white);
}

.main-button {
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  border-radius: 35px;
  height: 40px;
  width: 90px;
  color: var(--white);
  background: var(--main-color);
  font-weight: 500;
}

.upload-button {
  width: 180px;
  height: 50px;
}
.main-button:hover {
  box-shadow: var(--box-shadow);
  scale: 1.04;
}

.box {
  position: relative;
  border-radius: var(--border-radius);
  align-items: flex-start;
  font-weight: 600;
  color: var(--white);
  background: var(--boxes-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.wallet-status {
  justify-content: end;
  padding: 20px;
}
.wallet-status > i {
  position: absolute;
  font-size: 20px;
  top: 5px;
  color: var(--white);
}
.icon {
  font-size: 15px;
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  right: 5px;
}
.wallet-status .info {
  right: 15px;
}
.box > span {
  /* border-bottom: var(--border-color); */
  width: 100%;
}

#loader {
  /* animation-name: spin; */
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  align-self: center;
  width: 120px;
}

.about {
  margin-top: 80px;
}

.men {
  flex-wrap: wrap;
  margin: 30px auto;
}

.people {
  background: var(--team-box-color); /* fallback for old browsers */
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  padding: 15px;
  width: 320px;
  box-shadow: var(--box-shadow);
}

.img-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.img-container img:hover {
  border: 1px solid rgba(206, 15, 148, 0.459);
}

.people h1 {
  color: var(--white);
}

.people h6 {
  color: var(--light);
}

.about-me-text {
  margin-top: 20px;
  text-transform: capitalize;
  color: var(--white);
}

.social {
  margin-top: 35px;
}

.social a {
  color: var(--white);
  margin-left: 20px;
  font-size: 25px;
}

/*Footer code*/

.footer-dark {
  padding: 50
  px 0px;
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
}

.footer-dark a {
  color: var(--white);
}

.copyright {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .home {
    background-image: none;
  }

  .home video {
    display: none;
  }

  .home.container {
    max-width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .home h1 {
    font-size: 2.2rem;
  }

  .para {
    font-size: 1rem;
  }

  .home-btn {
    width: 100%;
  }

  .about {
    margin-top: 40px;
  }

  .men {
    flex-wrap: wrap;
    margin: 10px auto;
  }

  .people {
    width: 100%;
  }
}

 